<!DOCTYPE html>
<html>

<head>
<meta charset='utf-8'/>
<meta name='viewport' content='initial-scale=1'/>
<title>moderator lounge | simplechan</title>
<style type='text/css'>
body { font-family : monospace; color:rgb(30,30,30); font-size:12px; background-color:rgb(240,240,240); text-align:center; }

</style>
<title>moderator lounge</title>
</head>

<body>

<h3>Welcome to the lounge, {{mod_username}}</h3>

<div id='links'>
<a href='/mod_report_list/' target='_blank'>Report List</a><br><br>
<a href='/mod_recent_posts/' target='_blank'>Recent Posts</a><br><br>
<a href='/mod_logs/?show_all' target='_blank'>Moderator Logs</a><br><br>
<a href='/mod_update_post/' target='_blank'>Update Posts</a><br><br>
<br><br>
<a href='/mod_logout/'>Logout</a><br>
</div>

</body>
</html>
