<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name='viewport' content='width=device-width, initial-scale=1'>	
	<title>Privacy | simplechan</title>

	<style type='text/css'>
		body {font-family : arial,helvetica,sans-serif;	color : rgb(30,30,30);	font-size: 14px;background-color: rgb(240,240,240);	}
		h3 { font-size: 16px; margin : 3px; }
		#privacy { max-width : 600px; background-color: #fff; border : 1px solid #444; padding : 10px; margin: auto; }
	</style>
</head>

<body>
<div id='privacy'>
	<h3>Privacy : </h3>
	- Simplechan is not interested in tracking you.<br>
	- Simplechan will delete all data related to a post permanently as soon as it detects the post is no longer available.<br>
</div>
<a href='/'>Home</a>
</body>

</html>