<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name='viewport' content='width=device-width, initial-scale=1'>	
	<title>rules &amp; faqs | simplechan</title>
	<style type='text/css'>
		body {font-family : arial,helvetica,sans-serif;	color : rgb(30,30,30);	font-size: 14px;background-color: rgb(240,240,240);	}
		h2 { font-size: 20px; text-align: center; }
		h3 { font-size: 16px; margin : 3px;  }
		#box { max-width : 700px; background-color: #fff; border : 1px solid #444; padding : 10px; margin: auto; }
		.q { color : rgb(10, 120, 20); }
		.a { margin-left: 10px; }
		.highlight { color: rgb(245,70,70); }
		
	</style>
</head>

<body>
<h2>Rules and FAQs : </h2>
<div id='box'>
<h3>Rules : </h3>
<ul>
<li class='r'>Do not spam and try to keep the discussion on-topic.</li>
<li class='r'>Do not post unsafe or inappropriate/illegal content.</li>
<li class='r'>Try to keep the posts qualitative and/or informative.</li>
</ul>
<br>
<h3>Frequently Asked Questions : </h3>
<span class='q'>Is name necessary while making posts?</span><br>
<span class='a'>No. name field is optional and can be left blank.</span><br><br>

<span class='q'>Is attaching image necessary while making posts?</span><br>
<span class='a'>Attaching image is only necessary if you are starting a thread. Otherwise, it is optional.</span><br><br>

<span class='q'>How do I reply to a post?</span><br>
<span class='a'>Just click on the post number whom you wish to reply to. This will bring up the reply dialog.</span><br><br>

<span class='q'>What are the supported file types that can be uploaded?</span><br>
<span class='a'>Currently supported file types are <span class='highlight'>jpg/jpeg, png, gif</span> for images and <span class='highlight'>webm</span> for videos</span><br><br>

<span class='q'>What is the maximum size of file that can be uploaded?</span><br>
<span class='a'>Maximum size of uploadable file is <span class='highlight'>approximately 5MB.</span></span><br><br>

</div>
<a href='/'>Home</a>

</body>

</html>
